.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  // top: 0;

  .login-container {
    background-color: #fff;
    width: 320px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 15px 15px 40px -10px;
    
    .title {
      font-size: 25px;
      text-align: center;
      margin: auto;
    }

    .form-login {
      margin: 20px 20px 20px 20px;
    }
    
    .button-container {
      margin: 30px 0px 30px 0px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}